{% extends "base.html.twig" %}

{% block title %}Access denied{% endblock %}

{% block body %}
<div class="container" align="center">
    <p>Access denied</p>
    <p>Access denied. You must be logged in as Administrator to access this page.
    <a class="btn btn-success btn-lg btn-block"  style="background: #a6ca63;" href="/">Click to continue</a>.</p>
</div>
{% endblock %}