{% extends "base.html.twig" %}

{% block title %}Page not found - 404{% endblock %} 

{% block body %}

<p>We're sorry, this content was not found. <a href="/">Click to continue</a>. </p>

{% endblock body %}