{% extends "base.html.twig" %}

{% block title %}Successful Book
{% endblock %}

{% block body %}
<h5> Thank You {{ user.firstName}}!<h5>
<h3>Pending...</h3>
<h4>You should wait for admin to accept your request. <h4>
<h5>Check your status in <a href="/userHistory"> user history</a> or <a href="/">Click to continue</a><h5>
	
	
{% endblock %}
