{% extends "base.html.twig" %}
{% block title %}Error{% endblock %} 
{% block body %}
<p>We're sorry, we encoutered an internal error. Our team is already working on a solution.    
    
 <a href="/">Click to continue</a>. </p>
 {% endblock body %}
    
