{% extends "base.html.twig" %}

{% block title %}
    Password reset 
{% endblock title %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="/styles/login.css" />
{% endblock stylesheets %}

{% block header %}
{% endblock header %}

{% block section %}
    <h2>Password reset</h2>

    <form method="POST" autocomplete="off">
        <ul class="errorList">
            {% for error in errorList %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>

        <div class="formInput">
            <label>New password</label>
            <input type="password" name="pass1" />
        </div>
        <div class="formInput">
            <label>New password(repeat)</label>
            <input type="password" name="pass2" />
        </div>
        <div class="buttonDiv">
            <button type="submit">Change password</button>
        </div>
    </form>
{% endblock section %}