{% extends "master.html.twig" %}

{% block title %}Reset password{% endblock %}

{% block head %}{% endblock %}

{% block content %} 
    <p>Reset successfully. Click to <a href='/login'>Login</a></p>
{% endblock %}
