{% extends "base.html.twig" %}

{% block title %}Payment
{% endblock %}


{% block body %}
<h3>Thank you! <h3>
	<h4>Payment is done successfully!</h4>
	<h5>Check your status in <a href="/userHistory"> user history</a> or <a href="/">Click to continue</a><h5>
	
{% endblock %}
